<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malonda">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Malonda"
        android:usesCleartextTraffic="true">
        <activity android:name=".buyer.activities.CategoryProductsActivity"></activity>
        <activity android:name=".buyer.activities.BusinessProductsActivity" />
        <activity android:name=".buyer.activities.NearByBusinessesActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".buyer.activities.DirectionsActivity" />
        <activity android:name=".supplier.activities.AddEditBusinessInfoActivity" />
        <activity android:name=".buyer.activities.ProductDetailsActivity" />
        <activity android:name=".buyer.activities.SalesCheckoutActivity" />
        <activity android:name=".supplier.activities.AddEditProductActivity" />
        <activity android:name=".supplier.activities.MyProductsActivity" />
        <activity android:name=".common.ForgetPassword1Activity" />
        <activity android:name=".common.SignupActivity" />
        <activity android:name=".common.LoginActivity" />
        <activity android:name=".common.SettingsProfileActivity" />
        <activity android:name=".common.OnBoardingScreenActivity" />
        <activity
            android:name=".common.StartupscreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.SplashscreenActivity" />
        <activity android:name=".buyer.activities.BuyerDashboardActivity" />
        <activity android:name=".supplier.activities.SupplierDashboardActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>